[package]
name = "tiktoken-c"
version = "0.1.0"
edition = "2021"
authors = ["kojix2 <2xijok@gmail.com>"]
license = "MIT"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
tiktoken-rs = "0.5"
log = "0.4"
simple_logger = "4.2"
